:root {
  /* colors below are from https://flatuicolors.com/palette/gb */
  /* red */
  --nasturcian-flower: #e84118;
  --harley-davidson-orange: #c23616;
  /* bright blue */
  --protoss-pylon: #00a8ff;
  --vanadyl-blue: #0097e6;
  /* mid-blue */
  --seabrook: #487eb0;
  --naval: #40739e;
  /* light grey */
  --lynx-white: #f5f6fa;
  --hint-of-pensive: #dcdde1;
  /* mid grey/blue */
  --blueberry-soda: #7f8fa6;
  --chain-chang-grey: #718093;
  --simple-mid-grey: #939393;
  /* dark grey */
  --blue-nights: #353b48;
  --electromagnetic: #2f3640;
  /* pink */
  --cheshire-pink: #ae4292;
  --bg-pink: #c4aac1;
  --bg-purple: #3f2643;
}

/***** GENERAL *****/
* {
  box-sizing: border-box
}

a:hover {
  color: var(--lynx-white);
  text-decoration: none;
}

body {
  font-size: 20px;
  /* background-color: var(--hint-of-pensive); */
  color: var(--electromagnetic);
  font-family: 'Raleway', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

main {
  margin-top: 0em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button:focus {
  outline: none !important;
}

/***** HEADER *****/
.speaker-pic-container {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof-pic {
  border-radius: 50%;
  /* width: 15%; */
  max-height:5em;
  display: block;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.alice-title {
  font-family: 'Spicy Rice', cursive;
  font-weight:400;
}

.potter-title {
  font-family: 'Lobster', cursive;
}

/***** TWEET CONTAINER *****/
.tweet-container {
  color: var(--electromagnetic);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: var(--lynx-white);
  padding: 20px;
  max-width: 500px;
}

.tweet-container:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-bottom: 10px solid var(--lynx-white);
  border-top: 10px solid transparent;
  border-left: 10px solid var(--lynx-white);
  border-right: 10px solid transparent;
  top: -15px;
  left: 25%;
  /* top: 6px; */
}

/***** BUTTON *****/
.button-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.alice-btn {
  border:none;
  background-color: var(--cheshire-pink);
  color: var(--lynx-white);
  border: none;
  padding: 0.5em 1em;
}

.alice-btn:hover, .alice-btn:active {
  background-color: var(--lynx-white);
  color: var(--cheshire-pink);
  border: 1px solid color: var(--lynx-white);;
  font-weight: bold;
}

.potter-btn {
  border:none;
  background-color: var(--harley-davidson-orange);
  color: white;
  padding: 0.5em 1em;
}

.potter-btn:hover, .blue-btn:active {
  background-color: white;
  color: var(--harley-davidson-orange);
  border: 1px solid color: var(--harley-davidson-orange);;
  font-weight: bold;
}

/***** OTHER OPTIONS *****/
.other-option-container {
  display: flex;
}

.other-options-pic {
  max-height: 100px;
}

/***** TAB LINKS *****/
.tablink {
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.alice-tab {
  background-color: var(--bg-purple);
  font-weight: 300;
}

.potter-tab {
  background-color: var(--electromagnetic);
}

/***** TAB CONTENT *****/
.tabcontent {
  display: none;
  padding: 5em 1em 5em 1em;
  height: 100%;
  color:var(--lynx-white);
}

.tab-pic {
  max-height:50px;
}

/***** FOOTER *****/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding:1em;
  text-align: center;
}

.copyright-text {
  color:var(--simple-mid-grey);
  font-size: 0.9em;
}

/***** MOBILE ONLY *****/
@media only screen and (max-width: 600px) {
  footer {
    position:relative;
  }

  .button-container {
    margin-top:2em;
  }

  .tabcontent {
    display: none;
    padding: 2.5em 0.5em 2.5em 0.5em;
    height: 100%;
  }

}
