<!doctype html>

<head>
  <title>Alice in Wonderland - Tweet Generator</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Spicy+Rice" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <!-- custom CSS -- needs to be imported last -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

  <div class="tabs">
    <button class="alice-tab tablink" onclick="openPage('alice', this, 'var(--bg-purple)')" id="defaultOpen">
      <img class="tab-pic" src="{{url_for('static', filename='img/cheshire-face.png')}}" alt="">
    </button>

    <button class="potter-tab tablink" onclick="openPage('potter', this, 'var(--electromagnetic)')">
      <img class="tab-pic" src="{{url_for('static', filename='img/hp-face.png')}}" alt="">
    </button>
  </div>

  <main class="container">

    <div class="content">

      <div id="tab-content" class="tabcontent">
        <div class="speaker-pic-container">
          <img id='prof-pic' class="prof-pic" src="{{url_for('static', filename='img/cheshire-face.png')}}" alt="">
          <h3  id="perma-title" class=""></h3>
        </div>
        <div class="tweet-container">
          {% if markov_sentence %}
          <p>{{ markov_sentence }}</p>
          {% else %}
          <p>Hello there! Hm... Something isn't working correctly. There should be generated text here.</p>
          {% endif %}
        </div>
        <div class="button-container">
          <a href="/">
            <button type="button" id="cta-btn" class="">
              Go Down the Rabbit-Hole
            </button>
          </a>
        </div>
      </div>

    </div>

    <footer>

      <p class="copyright-text">This was built with ♥ by
        <a href="http://github.com/nsafai" class="copyright-text">Nicolai Safai</a>
      </p>

    </footer>

  </main>

  <!-- JQuery for AJAX requests & bootstrap components -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- SCRIPT FOR TABS -->
  <script src="{{url_for('static', filename='tabs.js')}}"></script>

</body>
